acme==2.11.0
awslambdaric==2.0.10
boto3==1.34.42
botocore==1.34.42
certbot==2.11.0
certbot-dns-route53==2.11.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
ConfigArgParse==1.7
configobj==5.0.8
cryptography==43.0.0
distro==1.9.0
idna==3.7
jmespath==1.0.1
josepy==1.14.0
parsedatetime==2.6
pycparser==2.22
pyOpenSSL==24.2.1
pyRFC3339==1.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.32.3
s3transfer==0.10.0
setuptools==71.1.0
simplejson==3.17.2
six==1.16.0
urllib3==1.26.18
